/* || GLOBAL STYLES */

/* all global styles have been added to global.css.
   please reference that file instead. */

/* || FORM */

.tipCalculatorForm {
  background-color: var(--white);
  border-radius: 1rem;
  width: 100%;
}

/* || TIP PERCENT LIST */

.tipPercentList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
