/* || GLOBAL STYLES */

/* all global styles have been added to global.css.
   please reference that file instead. */

/* || FORM */

.tipCalculatorForm {
  background-color: var(--white);
  border-radius: 1rem;
  width: 100%;
  padding: 1rem;
}

/* || TIP PERCENT LIST */

.tipPercentList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.tipPercentList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  column-gap: 1rem;
}

.tipPercentInput {
  width: 100%;
}

input.tipPercentInput {
  border-radius: 0.3rem;
  padding: 4%;
}

input.tipPercentInput {
  font-weight: bold;
  color: white;
  background-color: hsl(183, 100%, 15%);
}

input#customPercent {
  color: hsl(186, 14%, 43%);
  background-color: hsl(185, 41%, 84%);
}

.tip-percent-is-selected {
  color: red !important;
}

/* || CALCULATIONS OUTPUT */

.calculationsParent {
  border-radius: 1rem;
  background-color: hsl(183, 100%, 15%);
  color: hsl(185, 41%, 84%);
}

.calculationsParent {
  display: flex;
  flex-direction: column;
}

.calculationOutput {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  column-gap: 1rem;
  align-items: center;
  justify-items: baseline;
  margin: 0 1rem;
}

.calculationOutputLabel h1 {
  color: white;
}

.calculationOutputLabel p {
  color: hsl(185, 41%, 84%);
  font-size: 20px;
}

.calculationOutputResult {
  color: hsl(172, 67%, 45%);
  justify-self: end;
  margin: 0 1rem;
  font-size: 25px;
  line-height: 0;
  font-weight: bolder;
}

.resetButton {
  margin: 1rem;
}
